body {
  margin: 0;
  background: #000;        /* pure black */
  color: #e6edf3;
  font-family: system-ui, sans-serif;
  min-height: 100vh;
}
.header {
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 4.5rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.header .subtitle {
  margin: 0.8rem 0 0;
  font-size: 1.5rem;
  opacity: 0.9;
}

.container {
  display: flex;
  position: sticky;
  position: absolute;
  top: 0;
}

.container button {
  background-color: #000000;
  
  margin: 10px;
  padding: 5px;
  font-size: 24px;
  color:rgb(255, 255, 255);
}